<%= form_for review, :url => product_reviews_path(product), :html => {:id => "reviews_form"}, :remote => true do |f| %>
  <%= render :partial => "spree/shared/error_messages", :locals => {:target => review} %>

  <div class="review_name_field">
    <%= f.label :name, t("reviews_rating.name") %> <span class="required">*</span><br />
    <%= f.text_field :name %>
  </div>
  <div class="review_review_field">
    <%= f.label :review, t("reviews_rating.review") %> <span class="required">*</span><br />
    <%= f.text_area :review, :wrap => "virtual", :rows => "8", :cols => "33" %>
  </div>

  <div class="review_rating_field">
    <%= f.label :rating, t("reviews_rating.rating") %> <span class="required">*</span><br />
    <%= render :partial => "spree/reviews/stars" %>
    <%= f.hidden_field :rating %>
  </div>
  <%= link_to content_tag(:span, t("reviews_rating.continue"), :class => "s_text"), "javascript: void(0)", :class => "button large" %>
  <%#= button_tag t('submit_your_review'), :class => "button-submit" %>
<% end %>
